<!DOCTYPE html>
<head>
	<title>Calculator</title> <!-- Cím, ami megjelenik a böngésző fülön -->
	<meta charset="UTF-8"> <!-- Karakter kódolás -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<!--<script src="D:\Bence\Code\Angular\angular.min.js"></script>--> <!-- Meghívja az Angular könyvtárat,FONTOS hogy elől legyen -->
	<script type="text/javascript" src="app.js"></script> <!-- meghívja az app.js script filet -->
	<link rel="stylesheet" type="text/css" href="app.css" /> <!-- meghívj a app.css css filet -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
	<!--<script src="https://facebook.github.io/react/js/jsfiddle-integration.js"></script>-->
</head>
<body ng-app="CalculatorApp"> <!-- Megadjuk az alkalmazás nevét az ng-app - direktíva -->
	<p class="title"> <!-- Osztály nevet adunk, hogy később könyebben el lehessen érni a CSS-ben -->
		<h1>CALCULATOR</h1>
	</p>
	<!-- <div ng-controller="AdditionController" ng-init="val1=0;val2=0">--> <!-- meghívjuk az szükséges controllert az ng-controller - 	
																	direktíva alkalmazásáva, ami az adott zártag ig lesz érvényes, 
																	az ng-init - direktíva alkalmazásával megadjuk a változók kezdeti értékét-->
		<!--Összeadás:<br>
		<input type="text" ng-model="val1" ><br>
		<input type="text" ng-model="val2"><br>
		<br>
		Eredmény: 
		<h3>
			{{addition(val1,val2)}}
		</h3>
	</div>	
	<div ng-controller="SubstractionController" ng-init="val1=0;val2=0"> 
		Kivonás:<br>
		<input type="text" ng-model="val1"><br>
		<input type="text" ng-model="val2"><br>
		<br>
		Eredmény: 
		<h3>
			{{substraction(val1,val2)}}
		</h3>
	</div>	
	<div ng-controller="MultiplicationController" ng-init="val1=0;val2=0"> 
		Szorzás:<br>
		<input type="text" ng-model="val1"><br>
		<input type="text" ng-model="val2"><br>
		<br>
		Eredmény: 
		<h3>
			{{multiplication(val1,val2)}}
		</h3>
	</div>	
	<div ng-controller="DivisionController" ng-init="val1=0;val2=0"> 
		Osztás:<br>
		<input type="text" ng-model="val1"><br>
		<input type="text" ng-model="val2"><br>
		<br>
		Eredmény: 
		<h3>
			{{division(val1,val2)}}
		</h3>
	</div> -->	


	<!--<div class="row">--> <!-- Ez egy példa a Grid-re! 12 rész van, melyeket fel lehet osztani -->
		<!--<div class="col-sm-2" style="background-color:#FFFFFF;"></div>
 		<div class="col-sm-6" style="background-color:#FF0000;">
 			
 			<div class="col-sm-2" style="background-color:#003300;">

 				<div class="col-sm-1" style="background-color:#0000FF;">1</div>
 				<div class="col-sm-1" style="background-color:#FFFF00;">2</div>
 				<div class="col-sm-1" style="background-color:#00FFFF;">3</div>
 				<div class="col-sm-1" style="background-color:#FF00FF;">4</div>
 				<div class="col-sm-1" style="background-color:#C0C0C0;">5</div>
 				<div class="col-sm-1" style="background-color:#00FF00;">6</div>

 			</div>
 			<div class="col-sm-2" style="background-color:#003333;">f2</div>
 			<div class="col-sm-2" style="background-color:#003366;">F3</div>
 			<div class="col-sm-2" style="background-color:#003399;">F1</div>
 			<div class="col-sm-2" style="background-color:#0033CC;">f2</div>
 			<div class="col-sm-2" style="background-color:#0033FF;">F3</div>

 		</div>
  		<div class="col-sm-2" style="background-color:#FFFFFF;"></div>
	</div>-->

	<div class="row">
		<div class="col-sm-2" style="background-color:#FFFFFF;"></div>
 		<div id="top" ng-controller="FunctionController" class="col-sm-6" style="background-color:#FF0000;">
 			<div id="bottom" class="col-sm-12" style="background-color:#FF0000;">
 			</div>

 			<input id="console" type="text" ng-model="outputString"  ng-disabled="isDisabled = false">
 			</input><br>

 			<div class="col-sm-4" style="background-color:#FFFFFF;">
 				<button class="NumberButton" ng-click="click(1)">1</button>
 			</div>
 			<div class="col-sm-4" style="background-color:#FFFFFF;">
 				<button class="NumberButton" ng-click="click(2)">2</button>
 			</div>
 			<div class="col-sm-4" style="background-color:#FFFFFF;">
 				<button class="NumberButton" ng-click="click(3)">3</button>
 			</div><br>
 			<div class="col-sm-4" style="background-color:#FFFFFF;">
 				<button class="NumberButton" ng-click="click(4)">4</button>
 			</div>
 			<div class="col-sm-4" style="background-color:#FFFFFF;">
 				<button class="NumberButton" ng-click="click(5)">5</button>
 			</div>
 			<div class="col-sm-4" style="background-color:#FFFFFF;">
 				<button class="NumberButton" ng-click="click(6)">6</button>
 			</div><br>
 			<div class="col-sm-4" style="background-color:#FFFFFF;">
 				<button class="NumberButton" ng-click="click(7)">7</button>
 			</div>
 			<div class="col-sm-4" style="background-color:#FFFFFF;">
 				<button class="NumberButton" ng-click="click(8)">8</button>
 			</div>
 			<div class="col-sm-4" style="background-color:#FFFFFF;">
 				<button class="NumberButton" ng-click="click(9)">9</button>
 			</div><br>


 			<div class="col-sm-2" style="background-color:#FFFFFF;">
 			</div>
 			<div class="col-sm-4" style="background-color:#FFFFFF;">
 				<button class="NumberButton" ng-click="click(0)">0</button>
 			</div>
 			<div class="col-sm-4" style="background-color:#FFFFFF;">
 				<button class="NumberButton" ng-click="clear()">C</button>
 			</div>
 			<div class="col-sm-2" style="background-color:#FFFFFF;">
 			</div>


 			<div id="addition" class="col-sm-3" style="background-color:#FFFFFF;">
 				<button ng-click="func('+')" class="FunctionButton">+</button>
 			</div>
 			<div id="substraction" class="col-sm-3" style="background-color:#FFFFFF;">
 				<button ng-click="func('-')" class="FunctionButton">-</button>
 			</div>
 			<div id="multiplication" class="col-sm-3" style="background-color:#FFFFFF;">
 				<button ng-click="func('*')" class="FunctionButton">*</button>
 			</div>
 			<div id="division" class="col-sm-3" style="background-color:#FFFFFF;">
 				<button ng-click="func('/')" class="FunctionButton">/</button>
 			</div><br>


 			<div id="equal" class="col-sm-12" style="background-color:#FFFFFF;">
 				<button ng-click="EQU" class="EqualButton">=</button>
 			</div><br>


 			<div id="bottom" class="col-sm-12" style="background-color:#FF0000;">
 			</div>
 		</div>
  		<div class="col-sm-2" style="background-color:#FFFFFF;"></div>
	</div>

</body> 
</html>  